
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

.class-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0; /* Adjust the padding to make it smaller */
    bottom: 0;
    width: 100%;
    font-size: 0.8em; /* Adjust the font size to make it smaller */
}

    
    
    /*resolution*/
    #rescontainer {
        width: 1024px; /* Set a fixed width */
        margin: 0 auto; /* Center the container */
        background-color: #1d1c1c; /* Set a background color for the content */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
        padding: 20px; /* Add padding for space */
      }