/* Registration page */
body 
{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar a 
{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
form 
{
    text-align: center;
    max-width: 400px;
    padding: 60px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: 10px;
}

label 
{
    display: block;

}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"] 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] 
{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type="submit"]:hover 
{
    background-color: #0056b3;
}
/* Registration page */

/*resolution*/
#rescontainer {
    width: 1024px; /* Set a fixed width */
    margin: 0 auto; /* Center the container */
    height: 768px;
    background-color: #1d1c1c; /* Set a background color for the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    padding: 20px; /* Add padding for space */
}